<div *ngIf="initialLoading" class="spinner-wrapper full-screen">
  <div class="spinner"></div>
</div>

<ng-container *ngIf="!initialLoading && ffuser">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <div class="profile-image-container mb-3 mx-auto">
            <img [src]="imagePreview || ffuser?.photoURL || authService.DEFAULT_AVATAR_URL" alt="avatar"
              class="profile-avatar">
            <button type="button" class="btn btn-light btn-icon rounded-circle edit-profile-image-button shadow-sm"
              (click)="profileImageUploadInput.click()" title="{{'profiloUtente.modificaimmagine' | translate}}">
              <i data-feather="edit-2" class="edit-icon" appFeatherIcon></i>
            </button>
            <input type="file" #profileImageUploadInput class="d-none" (change)="onFileSelected($event)"
              accept="image/jpeg, image/png" id="profileImageUpload">
          </div>

          <h5 class="my-3">{{ffuser?.displayName ? (ffuser.displayName) : ('profiloUtente.nome-set' | translate)}}</h5>
          <p class="text-muted mb-1">{{ffuser?.ruolo ? (ffuser.ruolo | titlecase | translate) :
            ('profiloUtente.ruolo-set' | translate)}}</p>

          <div class="d-flex justify-content-center mb-2 mt-3" *ngIf="isCurrentUserAdmin && !isViewingOwnProfile">
            <button type="button" class="btn btn-outline-primary ms-1">{{'profiloUtente.inviamessaggio' |
              translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div *ngIf="showUnsavedChangesWarning" class="alert alert-warning d-flex align-items-center" role="alert">
        <i data-feather="alert-triangle" class="me-2" appFeatherIcon></i>
        <div>
          {{ 'profiloUtente.avvisoModificheNonSalvate' | translate }}
        </div>
      </div>

      <form [formGroup]="userForm" (ngSubmit)="onSubmit($event)" autocomplete="off" *ngIf="userForm">

        <div class="card mb-4">
          <div class="card-header">
            <h5 class="mb-0">{{ 'profiloUtente.profilo' | translate }}</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label class="form-label">
                    <p class="mb-0">{{'profiloUtente.nome' | translate}}</p>
                  </label>
                  <input type="text" class="form-control" formControlName="displayName" autocomplete="off"
                    placeholder="{{'profiloUtente.nome-set' | translate}}">
                  <div *ngIf="userForm.get('displayName')?.touched && userForm.get('displayName')?.invalid"
                    class="text-danger small mt-1">
                    <p *ngIf="userForm.get('displayName')?.errors?.['required']">
                      <i data-feather="alert-circle" appFeatherIcon></i> {{'generale.errori.camporichiesto' |
                      translate}}
                    </p>
                    <p *ngIf="userForm.get('displayName')?.errors?.['minlength']">
                      <i data-feather="alert-circle" appFeatherIcon></i> {{'generale.errori.caratteriminimi' |
                      translate}} 3
                    </p>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">{{'profiloUtente.email' | translate}}</label>
                  <input type="text" class="form-control" formControlName="email" autocomplete="off"
                    placeholder="{{'profiloUtente.email-set' | translate}}" />
                </div>
                <div class="mb-3">
                  <label class="form-label">{{'profiloUtente.cellulare' | translate}}</label>
                  <input type="tel" class="form-control" formControlName="cellulare" autocomplete="off"
                    placeholder="{{'profiloUtente.cellulare-set' | translate}}">
                  <div *ngIf="userForm.get('cellulare')?.touched && userForm.get('cellulare')?.invalid"
                    class="text-danger small mt-1">
                    <p
                      *ngIf="userForm.get('cellulare')?.errors?.['pattern'] || userForm.get('cellulare')?.errors?.['minlength']">
                      <i data-feather="alert-circle" appFeatherIcon></i> Inserire un numero di cellulare valido.
                    </p>
                  </div>
                </div>

                <div *ngIf="isCurrentUserAdmin">
                  <div class="mb-3">
                    <label class="form-label d-block mb-1">{{'profiloUtente.ruolo' | translate}}</label>
                    <div class="form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="roleSwitch"
                        formControlName="isAdminRole" (change)="onRoleChange($event)">
                      <label class="form-check-label" for="roleSwitch">
                        {{ userForm.get('isAdminRole')?.value ? 'Admin' : 'Cliente' }}
                      </label>
                    </div>
                    <small class="form-text text-muted" *ngIf="!userForm.get('isAdminRole')?.disabled">
                      Seleziona per rendere l'utente un Amministratore, deseleziona per renderlo un Cliente.
                    </small>
                    <small class="form-text text-muted" *ngIf="userForm.get('isAdminRole')?.disabled">
                      Non puoi modificare il tuo ruolo da questa interfaccia.
                    </small>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">
                      <p class="mb-0">{{'tabella.head.mailverificata' | translate}}</p>
                    </label>
                    <div class="form-check form-switch mt-1">
                      <input type="checkbox" class="form-check-input" formControlName="emailverified"
                        id="emailVerifiedCheck" (change)="userForm.markAsDirty(); updateWarningState()">
                      <label class="form-check-label" for="emailVerifiedCheck">
                        {{ (userForm.get('emailverified')?.value ? 'profiloUtente.mailverificata' :
                        'profiloUtente.mailnonverificata') | translate }}
                      </label>
                    </div>
                    <small class="form-text text-muted" *ngIf="userForm.get('emailverified')?.disabled">
                      Lo stato di verifica email non è modificabile per il tuo account qui.
                    </small>
                  </div>
                </div>
                <div class="my-3">
                  <button type="submit" class="btn btn-primary" name="changeUser"
                    [disabled]="isUploading || (isLoading$ | async) || (!userForm.dirty && !selectedFile)">
                    <span *ngIf="!isUploading && !(isLoading$ | async)">{{'profiloUtente.aggiornaprofilo' |
                      translate}}</span>
                    <span *ngIf="isUploading || (isLoading$ | async)" class="spinner-border spinner-border-sm"
                      role="status" aria-hidden="true"></span>
                    <span *ngIf="isUploading || (isLoading$ | async)"> Caricamento...</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4" *ngIf="isViewingOwnProfile">
          <div class="card-header">
            <h5 class="mb-0">{{ 'customer.account.changePassword' | translate }}</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label class="form-label">
                    <p class="mb-0">{{'profiloUtente.password' | translate}}</p>
                  </label>
                  <input type="password" class="form-control mb-2" formControlName="passwordnew"
                    autocomplete="new-password" placeholder="{{'profiloUtente.password-set' | translate}}">
                  <div *ngIf="userForm.get('passwordnew')?.touched && userForm.get('passwordnew')?.invalid"
                    class="text-danger small mt-1">
                    <p *ngIf="userForm.get('passwordnew')?.errors?.['pattern']">
                      <i data-feather="alert-circle" appFeatherIcon></i> {{'generale.errori.passpatt' | translate}}
                    </p>
                    <p *ngIf="userForm.get('passwordnew')?.errors?.['minlength']">
                      <i data-feather="alert-circle" appFeatherIcon></i> {{'generale.errori.pass8car' | translate}}
                    </p>
                  </div>
                  <input type="password" class="form-control" formControlName="passwordnewre"
                    autocomplete="new-password" placeholder="{{'profiloUtente.password-setre' | translate}}">
                  <div *ngIf="userForm.get('passwordnewre')?.touched && userForm.hasError('mismatch')"
                    class="text-danger small mt-1">
                    <p>
                      <i data-feather="alert-circle" appFeatherIcon></i> Le password non coincidono.
                    </p>
                  </div>
                </div>
                <div class="my-3">
                  <button type="submit" class="btn btn-primary" name="changePassword"
                    [disabled]="(isLoading$ | async) || (!userForm.get('passwordnew')?.dirty && !userForm.get('passwordnewre')?.dirty && !(userForm.get('passwordnew')?.value && userForm.get('passwordnewre')?.value) ) || userForm.get('passwordnew')?.invalid || userForm.get('passwordnewre')?.invalid || userForm.hasError('mismatch') ">
                    <span *ngIf="!(isLoading$ | async)">{{'profiloUtente.aggiornapassword' | translate}}</span>
                    <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
                    <span *ngIf="isLoading$ | async"> Caricamento...</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="alert alert-danger mt-2" style="animation: horizontal-shaking 0.35s linear 0.2s;" role="alert"
              *ngIf="errorMessage$ | async as error"><i data-feather="alert-circle" appFeatherIcon></i>
              {{error}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>

<div *ngIf="!initialLoading && !ffuser" class="alert alert-danger">
  Impossibile caricare i dati del profilo utente.
</div>
