<div class="row">
  <div class="col-lg-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img [src]="ffuser?.photoURL" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
        <h5 class="my-3">{{ffuser.displayName?ffuser.displayName:'profiloUtente.nome-set' | translate}}</h5>
        <p class="text-muted mb-1">{{ffuser.ruolo?ffuser.ruolo:'profiloUtente.ruolo-set' | translate}}</p>
        <div class="d-flex justify-content-center mb-2">
          <button type="button" class="btn btn-outline-primary ms-1">{{'profiloUtente.inviamessaggio' |
            translate}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card mb-4">
      <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit($event)" autocomplete="off">
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label>
                  <p class="mb-0">{{'profiloUtente.nome' | translate}}</p>
                </label>
                <input type="text" class="form-control form-group" formControlName="displayName" autocomplete="off"
                  placeholder="{{'profiloUtente.nome-set' | translate}}">
                <div *ngIf="userForm.get('displayName').touched && !userForm.get('displayName').valid">
                  <p class="text-danger mt-1" *ngIf="userForm.get('displayName').errors['required']">
                    <i class="feather icon-alert-circle"></i> {{'generale.errori.camporichiesto' | translate}}
                  </p>
                  <p class="text-danger mt-1" *ngIf="userForm.get('displayName').errors['minlength']">
                    <i class="feather icon-alert-circle"></i> {{'generale.errori.caratteriminimi' | translate}} 8
                  </p>
                </div>
              </div>
              <div class="mb-3">
                <label>{{'profiloUtente.email' | translate}}</label>
                <input type="text" class="form-control form-group" formControlName="email" autocomplete="off"
                  placeholder="{{'profiloUtente.email-set' | translate}}" />
                <div *ngIf="userForm.get('email').touched && !userForm.get('email').valid">
                  <p class="text-danger mt-1" *ngIf="userForm.get('email').errors['required']">
                    <i class="feather icon-alert-circle"></i> {{'generale.errori.camporichiesto' | translate}}
                  </p>
                  <p class="text-danger mt-1" *ngIf="userForm.get('email').errors['email']">
                    <i class="link-icon feather icon-alert-circle"></i> {{'generale.errori.mailvalida' | translate}}
                  </p>
                </div>
              </div>
              <div class="mb-3">
                <label>{{'profiloUtente.cellulare' | translate}}</label>
                <input type="number" class="form-control" formControlName="cellulare" autocomplete="off"
                  placeholder="{{'generale.errori.nonsupportato' | translate}}">
              </div>
              <div class="mb-3">
                <label>{{'profiloUtente.indirizzo' | translate}}</label>
                <input type="text" class="form-control" formControlName="indirizzo" autocomplete="off"
                  placeholder="{{'generale.errori.nonsupportato' | translate}}">
              </div>
              <div class="my-3">
                <button type="submit" class="btn btn-primary mr-0" name="changeUser">{{'profiloUtente.aggiornaprofilo' |
                  translate}}</button>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label>
                  <p class="mb-0">{{'profiloUtente.password' | translate}}</p>
                </label>
                <input type="password" class="form-control form-group" formControlName="passwordnew"
                  placeholder="{{'profiloUtente.password-set' | translate}}">
                <input type="password" class="form-control form-group" formControlName="passwordnewre"
                  placeholder="{{'profiloUtente.password-setre' | translate}}">
                <div class="alert alert-danger" style="animation: horizontal-shaking 0.35s linear 0.2s;" role="alert"
                  *ngIf="errorMessage$ | async as error"><i class="feather icon-alert-circle"></i> {{error}}</div>
                <!--<div *ngIf="userForm.get('passwordnew').touched && !userForm.get('passwordnew').valid">
                  <p class="text-danger mt-1" *ngIf="userForm.get('passwordnew').errors['required']">
                    <i class="feather icon-alert-circle"></i> {{'generale.errori.camporichiesto' | translate}}
                  </p>
                  <p class="text-danger mt-1" *ngIf="userForm.get('passwordnew').errors['pattern']">
                    <i class="feather icon-alert-circle"></i> {{'generale.errori.passpatt' | translate}}
                  </p>
                  <p class="text-danger mt-1" *ngIf="userForm.get('passwordnew').errors['minlength']">
                    <i class="feather icon-alert-circle"></i> {{'generale.errori.pass8car' | translate}}
                  </p>
                </div> -->
              </div>
              <div class="my-3">
                <button type="submit" class="btn btn-primary mr-0"
                  name="changePassword">{{'profiloUtente.aggiornapassword' |
                  translate}}</button>
              </div>

              <div class="mb-3">
                <label>
                  <p class="mb-0">{{'tabella.head.mailverificata' | translate}}</p>
                </label>
                <label class="form-control">
                  <input type="checkbox" name="checkbox" formControlName="emailverified" />
                  {{(emailVerifiedForm ?'tabella.head.mailverificata' : 'profiloUtente.mailnonverificata')
                  | translate}}
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
