<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
  <p class="text-muted text-center text-md-left">Copyright © 2025 <a href="https://www.pixelsmart.app"
      target="_blank">CurriòDashboard</a> <small style="font-size: 0.8em;">developed by PixelSmart</small>. All rights
    reserved</p>
  <p class="text-muted text-center text-md-left mb-0 d-none d-md-block">Creato con <i
      class="mb-1 text-primary ml-1 icon-small" class="feather icon-heart"></i> da Calogero</p>
</footer>
