<div class="row my-4">
  <div class="col-md-12">
    <h3>Add Event</h3>
    <hr />
    <form [formGroup]="productForm" (ngSubmit)="onAddEvent()">
      <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title" />

        <div *ngIf="productForm.get('title').touched && !productForm.get('title').valid">
          <!-- <div *ngIf="productForm.get('title').errors.['required']">
            Title is required
          </div>
          <div *ngIf="productForm.get('title').errors.['minlength']">
            Title should be minimum 6 characters
          </div> -->
        </div>
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div>{{ showDescriptionErrors() }}</div>
      </div>

      <div class="my-3">
        <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">
          Add Event
        </button>
      </div>
    </form>
  </div>
</div>

<div class="form-container">
  <h1>Caricamento Convoglio</h1>
  <form>
      <div class="form-group">
          <label for="data-partenza">Data Partenza</label>
          <input type="date" id="data-partenza" name="data-partenza" required>
      </div>
      <div class="form-group">
          <label for="orario-ritrovo">Orario Ritrovo</label>
          <input type="time" id="orario-ritrovo" name="orario-ritrovo" required>
      </div>
      <div class="form-group">
          <label for="orario-partenza">Orario Partenza</label>
          <input type="time" id="orario-partenza" name="orario-partenza" required>
      </div>
      <div class="form-group">
          <label for="server">Server</label>
          <input type="text" id="server" name="server" placeholder="Inserisci il server" required>
      </div>
      <div class="form-group">
          <label for="citta-partenza">Città di Partenza</label>
          <input type="text" id="citta-partenza" name="citta-partenza" placeholder="Inserisci la città di partenza" required>
      </div>
      <div class="form-group">
          <label for="citta-arrivo">Città di Arrivo</label>
          <input type="text" id="citta-arrivo" name="citta-arrivo" placeholder="Inserisci la città di arrivo" required>
      </div>
      <div class="form-group">
          <label for="azienda-arrivo">Azienda di Arrivo</label>
          <input type="text" id="azienda-arrivo" name="azienda-arrivo" placeholder="Inserisci l'azienda di arrivo" required>
      </div>
      <div class="form-group">
          <label for="dlc-utilizzati">DLC Utilizzati</label>
          <input type="text" id="dlc-utilizzati" name="dlc-utilizzati" placeholder="Inserisci i DLC utilizzati" required>
      </div>
      <div class="form-group">
          <label for="distanza-totale">Distanza Totale (km)</label>
          <input type="number" id="distanza-totale" name="distanza-totale" placeholder="Inserisci la distanza totale" required>
      </div>
      <div class="form-group">
        <label for="caricamento-mappa">Caricamento per la Mappa</label>
        <input type="file" id="caricamento-mappa" name="caricamento-mappa" accept="image/*" required>
    </div>
      <div class="form-group">
          <button type="submit">Carica Convoglio</button>
      </div>
  </form>
</div>
