<nav class="navbar">
  <a href="" class="sidebar-toggler" (click)="toggleSidebar($event)">
    <i class="feather icon-menu"></i>
  </a>
  <div class="navbar-content">
    <form class="search-form">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="feather icon-search"></i>
          </div>
        </div>
        <input type="text" class="form-control" id="navbarForm"
          placeholder="{{'generale.layout.navbar.eseguiricerca' | translate}}">
      </div>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle id="languageDropdown" role="button">
          <i class="flag-icon flag-icon-{{this.currentLang()}} mt-1"></i> <span
            class="font-weight-medium ml-1 mr-1 d-none d-md-inline-block">{{'generale.layout.lingua' |
            translate}}</span>
        </a>
        <div ngbDropdownMenu aria-labelledby="languageDropdown">
          <a ngbDropdownItem class="py-2" (click)="this.switchLanguage($event.target)" id="it"><i
              class="flag-icon flag-icon-it mr-1"></i>
            Italiano</a>
          <a ngbDropdownItem class="py-2" (click)="this.switchLanguage($event.target)" id="en"><i
              class="flag-icon flag-icon-us mr-1"></i>
            English </a>
          <a ngbDropdownItem class="py-2" (click)="this.switchLanguage($event.target)" id="fr"><i
              class="flag-icon flag-icon-fr mr-1"></i>
            Français</a>
          <a ngbDropdownItem class="py-2" (click)="this.switchLanguage($event.target)" id="es"><i
              class="flag-icon flag-icon-es mr-1"></i>
            Español</a>
          <a ngbDropdownItem class="py-2" (click)="this.switchLanguage($event.target)" id="de"><i
              class="flag-icon flag-icon-de mr-1"></i>
            Deutsch</a>
        </div>
      </li>
      <li class="nav-item nav-apps" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle id="appsDropdown">
          <i class="link-icon feather icon-grid"></i>
        </a>
        <div ngbDropdownMenu aria-labelledby="appsDropdown">
          <div class="dropdown-header d-flex align-items-center justify-content-between">
            <p class="mb-0 font-weight-medium">{{'generale.layout.navbar.accessirapidi' | translate}}</p>
          </div>
          <div class="dropdown-body">
            <div class="d-flex align-items-center apps">
              <a routerLink="/admin/currio/listacurrio">
                <i class="feather icon-file-text"></i>
                <p>{{'generale.layout.menu.richieste.listacurrio' | translate}}</p>
              </a>
              <a routerLink="/admin/utente/utenti">
                <i class="feather icon-users"></i>
                <p>{{'generale.layout.menu.listautenti' | translate}}</p>
              </a>
              <a routerLink="/admin/dashboard">
                <i class="feather icon-home"></i>
                <p>{{'generale.layout.menu.dashboard' | translate}}</p>
              </a>
              <a *ngIf="connectedUser$ | async as userData" [routerLink]="['/admin/utente/profilo/', userData.localId]">
                <i class="feather icon-user"></i>
                <p>{{'profiloUtente.profilo' | translate}}</p>
              </a>
            </div>
          </div>
        </div>
      </li>

      <li class="nav-item nav-notifications" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle id="notificationDropdown">
          <i class="link-icon feather icon-bell"></i>
          <div class="indicator" *ngIf="ciSonoNuoveRichieste$ | async">
            <div class="circle"></div>
          </div>
        </a>
        <div ngbDropdownMenu aria-labelledby="notificationDropdown">
          <div class="dropdown-header d-flex align-items-center justify-content-between">
            <p class="mb-0 font-weight-medium">
              {{ (conteggioNuoveRichieste$ | async) || 0 }} {{'generale.layout.navbar.nuovenotifiche' | translate }}
            </p>
            </div>
          <div class="dropdown-body">
            <ng-container *ngIf="(conteggioNuoveRichieste$ | async) > 0; else noNotificationsBlock">
              <a *ngFor="let notifica of (nuoveRichiesteCurrio$ | async)"
                 (click)="apriRichiestaCurrio(notifica.id)"
                 class="dropdown-item d-flex align-items-center py-2">
                <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3 flex-shrink-0">
                  <i class="feather icon-file-plus text-white icon-sm"></i>
                </div>
                <div class="flex-grow-1 me-2">
                  <p>{{ 'Nuova richiesta Curriò da' | translate }}:<br><strong>{{ notifica.datiCliente?.nome || 'Sconosciuto' }}</strong></p>
                  <p class="tx-12 text-muted">{{ notifica.datiCliente?.email }}</p>
                </div>
              </a>
            </ng-container>
            <ng-template #noNotificationsBlock>
                <div class="text-center py-3 px-3 text-muted">
                    {{ 'generale.layout.navbar.nessunanuovanotifica' | translate }}
                </div>
            </ng-template>
          </div>
          <div class="dropdown-footer d-flex align-items-center justify-content-center">
            <a href="#" (click)="$event.preventDefault(); visualizzaTutteLeRichieste()">{{'generale.layout.navbar.visualizzatutti' | translate}}</a>
          </div>
        </div>
      </li>

      <li class="nav-item nav-profile" ngbDropdown *ngIf="connectedUser$ | async as userData">
        <a class="nav-link" ngbDropdownToggle id="profileDropdownNav">
            <img [src]="userData.photoURL || authService.DEFAULT_AVATAR_URL" alt="profile" class="rounded-circle" style="width: 30px; height: 30px; object-fit: cover;">
        </a>
        <div ngbDropdownMenu aria-labelledby="profileDropdownNav">
          <div class="dropdown-header d-flex flex-column align-items-center">
            <div class="figure mb-3">
                <img [src]="userData.photoURL || authService.DEFAULT_AVATAR_URL" alt="User photo" class="rounded-circle" style="width: 80px; height: 80px; object-fit: cover;">
            </div>
            <div class="info text-center">
              <p class="name font-weight-bold mb-0">
                {{userData.displayName?userData.displayName:('profiloUtente.nome-set' | translate)}}</p>
              <p class="email text-muted mb-3">{{userData.email?userData.email:('profiloUtente.email-set' | translate)}}
              </p>
            </div>
          </div>
          <div class="dropdown-body">
            <ul class="profile-nav p-0 pt-3">
              <li class="nav-item">
                <a [routerLink]="['/admin/utente/profilo/', userData.localId]" class="nav-link">
                  <i class="feather icon-user"></i>
                  <span>{{'profiloUtente.profilo' | translate}}</span>
                </a>
              </li>
              <li class="nav-item">
                <a (click)="$event.preventDefault()" class="nav-link">
                  <i class="feather icon-settings"></i>
                  <span>{{'generale.layout.navbar.impostazioni' | translate}}</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" (click)="signOut($event)" class="nav-link">
                  <i class="feather icon-log-out"></i>
                  <span>{{'generale.layout.navbar.esci' | translate}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
