<div class="row">
  <div class="col-md-12 mt-5">
    <h4>{{"generale.layout.menu.richieste.listacurrio" | translate}}</h4>
    <div class="mb-3 text-right">
      <button type="button" class="btn btn-primary" (click)="navigateToCreate()">
        <i class="feather icon-plus"></i> Crea Nuovo Curriò
      </button>
    </div>
    <table class="table table-striped" *ngIf="currios$ | async as currioData else loadingCurrios">
      <thead>
        <tr>
          <th>ID</th>
          <th>{{"tabella.head.nome" | translate}} Portfolio</th>
          <th>{{"generale.layout.menu.dashboard" | translate}} Titolo</th>
          <th class="text-center">{{"tabella.head.Azioni"|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let currio of currioData">
          <td>{{ currio.id }}</td>
          <td>{{ currio.nomePortfolio }}</td>
          <td>{{ currio.heroTitle }}</td>
          <td class="text-center">
            <button type="button" class="btn btn-icon btn-outline-primary btn-sm me-1" (click)="navigateToEdit(currio.id)" title="{{'generale.shared.modifica' | translate}}">
              <i class="feather icon-eye"></i>
            </button>
            <button type="button" class="btn btn-icon btn-outline-danger btn-sm" (click)="onDeleteCurrio(currio.id)" title="{{'generale.shared.elimina' | translate}}">
              <i class="feather icon-trash"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="currioData.length === 0">
          <td colspan="4" class="text-center">Nessun Curriò trovato.</td>
        </tr>
      </tbody>
    </table>
    <ng-template #loadingCurrios>
      <p>Caricamento lista Curriò...</p>
    </ng-template>
  </div>
</div>
